body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #ff9800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#bakery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
    background-color: #ffeb3b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource {
    text-align: center;
    flex: 1;
}

.resource p {
    font-size: 24px;
    color: #333;
}

.resource span {
    font-size: 32px;
    font-weight: bold;
    color: #007BFF;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#upgrades {
    margin-top: 20px;
}

#production {
    margin-top: 20px;
}

#production p {
    font-size: 24px;
    color: #333;
}

#production span {
    font-size: 28px;
    font-weight: bold;
    color: #ff9800;
}
